.container {
  height: 100%;
  min-width: 100%;
  display: grid;
  padding: 0;
  position: relative;
  /* margin-bottom: 85px; */
}

.custom-button-about:hover {
  background-color: blue;
  color: black !important;
  border: solid red;
  text-decoration: none;
  transform: scale(1.2);
  cursor: pointer;
}

.custom-button-about {
  background-color: transparent;
  font-size: 2.3125rem !important;
  font-style: italic ;
  color: white !important;
  font-weight: 700 !important;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 85vh;
  margin-left: 10vh;
  border-radius: 8px;
  border: solid white;
  transition: background-color 0.8s, color 0.8s, border 0.8s, transform 0.8s;
  position: absolute;
}

.source-container {
  background-image: url("/public/photos/photo_10.jpg");
  height: 110vh; 
  width: 100%;
  padding: 45vh;
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 0vh;
  margin:0;
  background-size: cover;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.source-container > h1 {
  font-size: 5.3125rem !important;
  /* width: 622px; */
  font-style: italic ;
  font-weight: 700 !important;
  margin-top: -330px;
}

.multicolortext {
  background-image: linear-gradient(to left, rgb(255, 0, 0), green , yellow, blue, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}